@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles di bawahnya boleh ada, boleh tidak */
body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(160deg, #004d22 0%, #002a14 100%);
  color: #1a1a1a;
  min-height: 100vh;
}
